<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>outputType</key>
	<integer>4</integer>
	<key>description</key>
	<string>Creates a standard TI-83+ program, intended to be run inside the Ion shell. Includes the ti83plus.inc and ion.inc header files.</string>
	<key>includeFileNames</key>
	<array>
		<string>ti83plus</string>
		<string>ion</string>
	</array>
</dict>
</plist>
