<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rom</string>
				<string>ROM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>TI-83 Series Rom Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.rom</string>
			</array>
			<key>NSDocumentClass</key>
			<string>WECalculatorDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lab</string>
				<string>LAB</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WabbitEmu Label File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.label</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>8xg</string>
				<string>8XG</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-83+ Series Group File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.group</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sav</string>
				<string>SAV</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WabbitEmu Save State</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.savestate</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>WECalculatorDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>73p</string>
				<string>73P</string>
				<string>bin</string>
				<string>BIN</string>
				<string>83p</string>
				<string>83P</string>
				<string>8xp</string>
				<string>8XP</string>
				<string>85p</string>
				<string>85P</string>
				<string>86p</string>
				<string>86P</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-83 Series Program File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.program</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>8xk</string>
				<string>8XK</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-83+ Series Application File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.application</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>86s</string>
				<string>86S</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-86 Strings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.strings86</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>85s</string>
				<string>85S</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-85 Strings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.strings85</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>8xi</string>
				<string>8XI</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TI-83+ Series Picture File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.revsoft.wabbitemu.picture</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>WabbitEmu Help</string>
	<key>CFBundleIconFile</key>
	<string>wabbitemu.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.revsoft.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>WEMU</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>1.0.5</string>
	<key>NSMainNibFile</key>
	<string>WEMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUFeedURL</key>
	<string>http://group.revsoft.org/WabbitEmu-Appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>wabbitemu_dsakey_public.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-83 Series Rom Image</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rom</string>
					<string>ROM</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WabbitEmu Label File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.label</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lab</string>
					<string>LAB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WabbitEmu Save State</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.savestate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sav</string>
					<string>SAV</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-83+ Series Application File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.application</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>8xk</string>
					<string>8XK</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-83 Series Program File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.program</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
					<string>BIN</string>
					<string>73p</string>
					<string>73P</string>
					<string>83p</string>
					<string>83P</string>
					<string>8xp</string>
					<string>8XP</string>
					<string>85p</string>
					<string>85P</string>
					<string>86p</string>
					<string>86P</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-85 Strings File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.strings85</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>85s</string>
					<string>85S</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-86 Strings File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.strings86</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>86s</string>
					<string>86S</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-83 Series Picture File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.picture</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>8xi</string>
					<string>8XI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TI-83 Series Group File</string>
			<key>UTTypeIdentifier</key>
			<string>org.revsoft.wabbitemu.group</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>8xg</string>
					<string>8XG</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
