<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>bin</string>
	<key>1</key>
	<string>73p</string>
	<key>2</key>
	<string>82p</string>
	<key>3</key>
	<string>83p</string>
	<key>4</key>
	<string>8xp</string>
	<key>5</key>
	<string>8xk</string>
	<key>6</key>
	<string>85p</string>
	<key>7</key>
	<string>86p</string>
</dict>
</plist>
