<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Creates a standard signed TI-83+ application.</string>
	<key>includeFileNames</key>
	<array>
		<string>ti83plus</string>
		<string>app</string>
	</array>
	<key>outputType</key>
	<integer>5</integer>
</dict>
</plist>
