<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Revsoft.Wabbitcode.Properties.TempSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Revsoft.Wabbitcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Wabbitcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Z80IDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.windows.forms jitDebugging="true"/>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
		<Revsoft.Wabbitcode.Properties.TempSettings>
   <setting name="useSyntaxHighlighting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="outputFile" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="labelColor" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="commentColor" serializeAs="String">
    <value>32, 124, 71</value>
   </setting>
   <setting name="directiveColor" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="stringColor" serializeAs="String">
    <value>160, 32, 240</value>
   </setting>
   <setting name="editorFont" serializeAs="String">
    <value>Courier New, 9pt</value>
   </setting>
   <setting name="sendFileEmu" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="mainToolBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="statusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="lineNumbers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="showProjectBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="sizeX" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="sizeY" serializeAs="String">
    <value>440</value>
   </setting>
   <setting name="labelsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="commentsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="directivesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="stringsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="wrapText" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="autoIndent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="wabbitLoc" serializeAs="String">
    <value>.\wabbitemu.exe</value>
   </setting>
   <setting name="emuName" serializeAs="String">
    <value>Wabbitemu</value>
   </setting>
   <setting name="showLabelPanel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="preProcessorEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="preProcessorColor" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="equatesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="equateColor" serializeAs="String">
    <value>34, 34, 224</value>
   </setting>
   <setting name="ptiLoc" serializeAs="String">
    <value>.\pti.exe</value>
   </setting>
   <setting name="vtiLoc" serializeAs="String">
    <value>.\vti.exe</value>
   </setting>
   <setting name="opcodeColor" serializeAs="String">
    <value>96, 63, 205</value>
   </setting>
   <setting name="opcodesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="registersEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="registerColor" serializeAs="String">
    <value>63, 124, 188</value>
   </setting>
   <setting name="wrapTextOut" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="outputFont" serializeAs="String">
    <value>Courier New, 9pt</value>
   </setting>
   <setting name="showEquates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="caseSensitive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showAllFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="recentFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="maxNumFiles" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="conditionColor" serializeAs="String">
    <value>192, 64, 0</value>
   </setting>
   <setting name="includeDir" serializeAs="String">
    <value />
   </setting>
   <setting name="lineEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="alphabetizeLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="lineColor" serializeAs="String">
    <value>255, 255, 192</value>
   </setting>
   <setting name="blockCommentEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="blockCommentColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="conditionsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="iconBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="startupProject" serializeAs="String">
    <value />
   </setting>
   <setting name="debugToolbar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="antiAlias" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="inverseScrolling" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableFolding" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="enableAutoComplete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="buildConfig" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="colorizeOutWin" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="openFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="numRecentFiles" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="enableAutoTrigger" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="externalHighlight" serializeAs="String">
    <value />
   </setting>
   <setting name="extraExtensions" serializeAs="String">
    <value />
   </setting>
   <setting name="firstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="editorToolbar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>500, 300</value>
   </setting>
   <setting name="mouseWheelZoom" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="recentlyUpdated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="referencesHighlighter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoSaveProject" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="tabSize" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="convertTabs" serializeAs="String">
    <value>True</value>
   </setting>
  </Revsoft.Wabbitcode.Properties.TempSettings>
		<Revsoft.Wabbitcode.Properties.Settings>
   <setting name="useSyntaxHighlighting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="outputFile" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="labelColor" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="commentColor" serializeAs="String">
    <value>32, 124, 71</value>
   </setting>
   <setting name="directiveColor" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="stringColor" serializeAs="String">
    <value>160, 32, 240</value>
   </setting>
   <setting name="editorFont" serializeAs="String">
    <value>Courier New, 9pt</value>
   </setting>
   <setting name="sendFileEmu" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="mainToolBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="statusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="lineNumbers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="showProjectBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="sizeX" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="sizeY" serializeAs="String">
    <value>440</value>
   </setting>
   <setting name="labelsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="commentsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="directivesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="stringsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="wrapText" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="autoIndent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="wabbitLoc" serializeAs="String">
    <value>.\wabbitemu.exe</value>
   </setting>
   <setting name="emuName" serializeAs="String">
    <value>Wabbitemu</value>
   </setting>
   <setting name="showLabelPanel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="preProcessorEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="preProcessorColor" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="equatesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="equateColor" serializeAs="String">
    <value>34, 34, 224</value>
   </setting>
   <setting name="ptiLoc" serializeAs="String">
    <value>.\pti.exe</value>
   </setting>
   <setting name="vtiLoc" serializeAs="String">
    <value>.\vti.exe</value>
   </setting>
   <setting name="opcodeColor" serializeAs="String">
    <value>96, 63, 205</value>
   </setting>
   <setting name="opcodesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="registersEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="registerColor" serializeAs="String">
    <value>63, 124, 188</value>
   </setting>
   <setting name="wrapTextOut" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="outputFont" serializeAs="String">
    <value>Courier New, 9pt</value>
   </setting>
   <setting name="showEquates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="caseSensitive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showAllFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="recentFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="maxNumFiles" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="conditionColor" serializeAs="String">
    <value>192, 64, 0</value>
   </setting>
   <setting name="includeDir" serializeAs="String">
    <value />
   </setting>
   <setting name="lineEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="alphabetizeLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="lineColor" serializeAs="String">
    <value>255, 255, 192</value>
   </setting>
   <setting name="blockCommentEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="blockCommentColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="conditionsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="iconBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="startupProject" serializeAs="String">
    <value />
   </setting>
   <setting name="debugToolbar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="antiAlias" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="inverseScrolling" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="enableFolding" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="enableAutoComplete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="buildConfig" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="colorizeOutWin" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="openFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="numRecentFiles" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="enableAutoTrigger" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="externalHighlight" serializeAs="String">
    <value />
   </setting>
   <setting name="extraExtensions" serializeAs="String">
    <value />
   </setting>
   <setting name="firstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="editorToolbar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>500, 300</value>
   </setting>
   <setting name="recentlyUpdated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="mouseWheelZoom" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="referencesHighlighter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoSaveProject" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="tabSize" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="convertTabs" serializeAs="String">
    <value>True</value>
   </setting>
  </Revsoft.Wabbitcode.Properties.Settings>
		<Wabbitcode.Properties.Settings>
			<setting name="useSyntaxHighlighting" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="outputFile" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="labelColor" serializeAs="String">
				<value>Blue</value>
			</setting>
			<setting name="commentColor" serializeAs="String">
				<value>32, 124, 71</value>
			</setting>
			<setting name="directiveColor" serializeAs="String">
				<value>Gray</value>
			</setting>
			<setting name="stringColor" serializeAs="String">
				<value>160, 32, 240</value>
			</setting>
			<setting name="editorFont" serializeAs="String">
				<value>Courier New, 9pt</value>
			</setting>
			<setting name="labelsCaseSensitive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="sendFileEmu" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showAssemblerOutput" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showToolbar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showStatusBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showLineNumbers" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showProjectBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="sizeX" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="sizeY" serializeAs="String">
				<value>440</value>
			</setting>
			<setting name="labelsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="commentsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="directivesEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="stringsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="wrapText" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="autoIndent" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="wabbitLoc" serializeAs="String">
				<value>.\wabbitemu.exe</value>
			</setting>
			<setting name="emuName" serializeAs="String">
				<value>Wabbitemu</value>
			</setting>
			<setting name="showLabelPanel" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="preProcessorEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="preProcessorColor" serializeAs="String">
				<value>Gray</value>
			</setting>
			<setting name="equatesEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="equateColor" serializeAs="String">
				<value>34, 34, 224</value>
			</setting>
			<setting name="ptiLoc" serializeAs="String">
				<value>.\pti.exe</value>
			</setting>
			<setting name="vtiLoc" serializeAs="String">
				<value>.\vti.exe</value>
			</setting>
			<setting name="commandColor" serializeAs="String">
				<value>96, 63, 205</value>
			</setting>
			<setting name="commandEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="registersEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="registerColor" serializeAs="String">
				<value>63, 124, 188</value>
			</setting>
			<setting name="wrapTextOut" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="outputFont" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="colorScheme" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="showEquates" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="caseSensitive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="showAllFile" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="qatLayout" serializeAs="String">
				<value>0,buttonItem2,openMenuButton,saveMenuButton</value>
			</setting>
			<setting name="recentFiles" serializeAs="String">
				<value/>
			</setting>
			<setting name="maxNumFiles" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="includeColor" serializeAs="String">
				<value>34, 34, 224</value>
			</setting>
			<setting name="conditionColor" serializeAs="String">
				<value>192, 64, 0</value>
			</setting>
			<setting name="includeDir" serializeAs="String">
				<value/>
			</setting>
			<setting name="lineEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="alphabetizeLabels" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="lineColor" serializeAs="String">
				<value>255, 255, 192</value>
			</setting>
			<setting name="blockCommentEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="blockCommentColor" serializeAs="String">
				<value>Green</value>
			</setting>
			<setting name="conditionsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="iconBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="startupProject" serializeAs="String">
				<value/>
			</setting>
			<setting name="dockLayout" serializeAs="String">
				<value/>
			</setting>
		</Wabbitcode.Properties.Settings>
		<Z80IDE.Properties.Settings>
			<setting name="useSyntaxHighlighting" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="outputFile" serializeAs="String">
				<value>.8xp</value>
			</setting>
			<setting name="labelColor" serializeAs="String">
				<value>Blue</value>
			</setting>
			<setting name="commentColor" serializeAs="String">
				<value>Green</value>
			</setting>
			<setting name="directiveColor" serializeAs="String">
				<value>Gray</value>
			</setting>
			<setting name="stringColor" serializeAs="String">
				<value>Purple</value>
			</setting>
			<setting name="editorFont" serializeAs="String">
				<value>Courier New, 9pt</value>
			</setting>
			<setting name="includePath" serializeAs="String">
				<value>.\Include</value>
			</setting>
			<setting name="labelsCaseSensitive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="sendFileEmu" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showAssemblerOutput" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showToolbar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showStatusBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showLineNumbers" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="showProjectBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="sizeX" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="sizeY" serializeAs="String">
				<value>440</value>
			</setting>
			<setting name="labelsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="commentsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="directivesEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="stringsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="wrapText" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="autoIndent" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="wabbitLoc" serializeAs="String">
				<value>.\wabbitemu.exe</value>
			</setting>
			<setting name="emuName" serializeAs="String">
				<value>Wabbitemu</value>
			</setting>
			<setting name="showLabelPanel" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="preProcessorEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="preProcessorColor" serializeAs="String">
				<value>64, 64, 64</value>
			</setting>
			<setting name="equatesEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="equateColor" serializeAs="String">
				<value>255, 128, 0</value>
			</setting>
			<setting name="ptiLoc" serializeAs="String">
				<value>.\pti.exe</value>
			</setting>
			<setting name="vtiLoc" serializeAs="String">
				<value>.\vti.exe</value>
			</setting>
			<setting name="commandsColor" serializeAs="String">
				<value>192, 0, 0</value>
			</setting>
			<setting name="commandEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="registersEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="registerColor" serializeAs="String">
				<value>0, 192, 192</value>
			</setting>
			<setting name="wrapTextOut" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="outputFont" serializeAs="String">
				<value>Courier New, 8pt</value>
			</setting>
			<setting name="colorScheme" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="showEquates" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="caseSensitive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="showAllFile" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RecentFile1" serializeAs="String">
				<value/>
			</setting>
			<setting name="RecentFile2" serializeAs="String">
				<value/>
			</setting>
			<setting name="RecentFile3" serializeAs="String">
				<value/>
			</setting>
			<setting name="RecentFile4" serializeAs="String">
				<value/>
			</setting>
			<setting name="RecentFile5" serializeAs="String">
				<value/>
			</setting>
			<setting name="qatLayout" serializeAs="String">
				<value>0,buttonItem2,openMenuButton,saveMenuButton</value>
			</setting>
		</Z80IDE.Properties.Settings>
	</userSettings>
</configuration>
