#define IDM_EXITSAVE 5001
#define MANIFEST 24
#define IDC_CHK1 1061
#define DB_GOTO 3
#define IDM_ 10023
#define IDC_REFRESH_VAR_LIST 1099
#define Wabbitemu 1
#define IDM_CALC_VARIABLES 10011
#define IDM_EDIT_COPY 10006
#define IDM_DEBUG_OPEN 10014
#define IDM_FILE_GIF 10003
#define IDM_FILE_OPEN 10001
#define DB_RUN 1
#define DB_STEP 2
#define DB_STEPOVER 4
#define DB_BREAKPOINT 5
#define IDD_GIFOPTIONS 1001
#define IDC_GRPAUTOSAVE 50
#define IDC_GRP2 51
#define IDC_GRPCOLORS 1004
#define IDC_CHKENABLEAUTOSAVE 1000
#define IDC_CHKUSEINCREASING 1001
#define IDC_EDTGIFFILENAME 1002
#define IDC_BTNGIFBROWSE 1003
#define IDC_TRBGIFFPS 1007
#define IDC_STCAUTOSAVE 33
#define IDC_STC2 1005
#define IDC_STC3 1011
#define IDC_STCGIFMAX 1012
#define IDC_RBNSCREEN 1006
#define IDC_RBNGRAYSCALE 1010
#define IDC_CHKGIF2X 1008
#define IDC_STC1 1009
#define IDD_ROMOPTIONS 1002
#define IDC_GRP3 1004
#define IDC_BTNROMBROWSE 1003
#define IDC_STC9 1005
#define IDC_STC10 1006
#define IDC_STC11 1007
#define IDC_EDTROMPATH 1012
#define IDC_STCROMIMAGE 1008
#define IDC_EDTROMVERSION 1009
#define IDC_EDTROMMODEL 1010
#define IDC_STC12 1011
#define IDC_EDTROMSIZE 1013
#define IDC_BTN1 1014
#define IDC_STC7 1015
#define IDD_OFN 1000
#define IDC_GRPPREVIEW 1001
#define IDC_IMGPREVIEW 1002
#define IDC_EDTCOMMENT 1007
#define IDC_EDTAUTHOR 1008
#define IDD_DLGGOTO 2000
#define IDC_STC8 1001
#define IDC_EDTGOTOADDR 1002
#define IDR_FRAME_MENU 10002
#define IDM_FRAME_BTOGGLE 11002
#define IDM_FRAME_BUNLOCK 11099
#define IDD_SKINOPTIONS 1005
#define IDC_GRP4 1060
#define IDC_GRP5 1007
#define IDC_CHKCUTOUT 1001
#define IDC_CHKCSTMSKIN 1006
#define IDC_BROWSEKEY 1008
#define IDC_BROWSESKIN 1009
#define IDC_SKNFILE 1010
#define IDC_KEYFILE 1011
#define IDC_COLORPICK 1012
#define IDC_STC5 1013
#define IDC_STC6 1014
#define IDC_STC13 1015
#define IDR_DISASM_HEADER_MENU 10003
#define IDM_DISASMADDR 10001
#define IDM_DISASMDATA 10002
#define IDM_DISASMDISASM 10003
#define IDM_DISASMSIZE 10004
#define IDM_DISASMCLOCKS 10005
#define IDD_VARLIST 1006
#define IDC_TRV1 1001
#define IDC_REFRESH_VAR_LIST 1099
#define IDC_EXPORT_VAR 1007
#define IDC_VAR_NAME 1008
#define IDC_STC31 1009
#define IDC_STC32 1010
#define IDC_STC33 1011
#define IDC_VAR_ADDRESS 1012
#define IDC_VAR_PAGE 1013
#define IDC_VAR_RAM 1014
#define IDR_VARTREE_MENU 10001
#define IDM_VARTREEEXPORT 10002
#define IDR_DISASM_MENU 10004
#define DB_MEMPOINT_WRITE 6
#define DB_MEMPOINT_READ 10005
#define IDM_DSETPC 10010
#define DB_DISASM_GOTO 10012
#define IDD_DLGSAVESTATE 1007
#define IDC_GRP6 1018
#define IDC_EDTSAVEAUTHOR 1008
#define IDC_EDTSAVECOMMENT 1011
#define IDC_CBOSAVECOMPRESS 1016
#define IDC_CHKSAVEREADONLY 1017
#define IDC_BTNSAVEOK 1009
#define IDC_BTNSAVECANCEL 1010
#define IDC_STC14 1012
#define IDC_STC15 1013
#define IDC_IMGSAVEPREVIEW 1014
#define IDC_STC16 1015
#define IDC_STC17 1019
#define IDC_STC18 1020
#define IDC_STC19 1021
#define IDC_EDTSAVEROMVER 1022
#define IDC_EDTSAVEMODEL 1023
#define IDD_DISPLAYOPTIONS 1010
#define IDC_GRP7 1007
#define IDC_GRP8 1004
#define IDC_GRP9 1009
#define IDC_CBODISPLAYMODE 1001
#define IDC_TRBDISPLAYSHADES 1003
#define IDC_STC4 1002
#define IDC_STC22 1005
#define IDC_IMGDISPLAYPREVIEW 1006
#define IDC_TRBDISPLAYFPS 1008
#define IDC_STCDISPLAYOPTION 1011
#define IDC_STC21 1012
#define IDC_CBODISPLAYSOURCE 1013
#define IDC_STC23 1014
#define IDC_STC24 1015
#define IDC_TRBDISPLAYFREQ 1016
#define IDC_STC25 1017
#define IDC_STC26 1018
#define IDD_DLGTARGETMEM 1011
#define IDC_GRP1 1004
#define IDC_RBNFILESETTINGS 1001
#define IDC_RBNFILEARCHIVE 1002
#define IDC_RBNFILERAM 1003
#define IDR_MAIN_MENU 10000
#define IDM_FILE_NEW 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_SAVE 10002
#define IDM_FILE_CLOSE 10004
#define IDM_FILE_EXIT 10005
#define IDM_EDIT_COPY 10006
#define IDM_EDIT_PASTE 10007
#define IDM_CALC_SKIN 10008
#define IDM_CALC_SOUND 10009
#define IDM_CALC_PAUSE 10020
#define IDM_SPEED_SET 10022
#define IDM_SPEED_QUARTER 10016
#define IDM_SPEED_HALF 10017
#define IDM_SPEED_NORMAL 10018
#define IDM_SPEED_DOUBLE 10019
#define IDM_SPEED_QUADRUPLE 10023
#define IDM_SPEED_MAX 10025
#define IDM_CALC_CONNECT 10010
#define IDM_CALC_VARIABLES 10011
#define IDM_CALC_OPTIONS 10012
#define IDM_DEBUG_RESET 10013
#define IDM_DEBUG_OPEN 10014
#define IDM_HELP_WEBSITE 10021
#define IDM_HELP_ABOUT 10015
#define IDR_REGPANE_MENU 10005
#define IDM_REGPANE_EDIT 10002
#define IDM_REGPANE_VIEW_DISASM 10003
#define IDM_REGPANE_VIEW_MEM 10004
#define IDD_DLGABOUT 1015
#define IDC_STC20 1001
#define IDC_STC27 1002
#define IDC_IMG1 1003
#define IDC_BTN2 1004
#define IDC_STC28 1005
#define IDD_DLGSPEED 1016
#define IDC_TRB1 1001
#define IDC_OK 1003
#define IDC_CANCEL 1004
#define IDC_STC29 1005
#define IDC_STC30 1006
#define IDR_DISASM_WATCH_MENU 10006
#define DB_MEMPOINT_WRITE 6
#define DB_MEMPOINT_READ 7
#define IDR_DISASM_REWIND_MENU 10007
#define IDM_05SECOND 10001
#define IDM_10SECOND 10002
#define IDM_15SECOND 10003
#define IDM_20SECOND 10004
#define IDM_25SECOND 10005
#define IDM_30SECOND 10006
#define IDM_35SECOND 10007
#define IDM_40SECOND 10008
#define IDM_45SECOND 10009
#define IDM_50SECOND 10010
#include "windows.h"
#include "gui.h"
W ICON DISCARDABLE "tsmall.ico"
TI-73Keymap BITMAP DISCARDABLE "TI-83+Keymap.bmp"
TI-82Keymap BITMAP DISCARDABLE "TI-82Keymap.bmp"
TI-83Keymap BITMAP DISCARDABLE "TI-83Keymap.bmp"
TI-83+Keymap BITMAP DISCARDABLE "TI-83+Keymap.bmp"
TI-83+SEKeymap BITMAP DISCARDABLE "TI-83+Keymap.bmp"
TI-84+Keymap BITMAP DISCARDABLE "TI-84+SEKeymap.bmp"
TI-84+SEKeymap BITMAP DISCARDABLE "TI-84+SEKeymap.bmp"
CalcTI83P BITMAP DISCARDABLE "TI83P.bmp"
CalcTI83PSE BITMAP DISCARDABLE "TI83PSE.bmp"
TIvarIcons BITMAP DISCARDABLE "TI-Icons.bmp"
close BITMAP DISCARDABLE "small_close.bmp"
Wabbitemu MANIFEST DISCARDABLE "wabbitemu.exe.xml"
A ICON DISCARDABLE "wabbitemu.ico"
TBLEFT BITMAP DISCARDABLE "left.bmp"
TBBACK BITMAP DISCARDABLE "back.bmp"
TBRIGHT BITMAP DISCARDABLE "right.bmp"
TBHotFrame BITMAP DISCARDABLE "buttonframe.bmp"
TBFrameLeft BITMAP DISCARDABLE "buttondownleft.bmp"
TBFrameRight BITMAP DISCARDABLE "buttondownright.bmp"
TBHotFrameLeft BITMAP DISCARDABLE "buttonframeleft.bmp"
DBStep BITMAP DISCARDABLE "step.bmp"
DBStepOver BITMAP DISCARDABLE "stepover.bmp"
DBBreak BITMAP DISCARDABLE "break.bmp"
DBMemBreak BITMAP DISCARDABLE "membreak.bmp"
DBRun BITMAP DISCARDABLE "run.bmp"
expandpanebuttons BITMAP DISCARDABLE "expandpanebuttons.bmp"
Chevron BITMAP DISCARDABLE "chevron.bmp"
TI-83+ BITMAP DISCARDABLE "TI-83+.bmp"
TI-73 BITMAP DISCARDABLE "TI-73.bmp"
TI-83+SE BITMAP DISCARDABLE "TI-83+SE.bmp"
TI-84+ BITMAP DISCARDABLE "TI-84+.bmp"
TI-84+SE BITMAP DISCARDABLE "TI-84+SE.bmp"
TI-83 BITMAP DISCARDABLE "TI-83.bmp"
TI-82 BITMAP DISCARDABLE "TI-82.bmp"
DBGoto BITMAP DISCARDABLE "goto.bmp"
SkinPicker BITMAP DISCARDABLE "SkinPicker.bmp"
TBHotFrameMiddle BITMAP DISCARDABLE "buttonframemiddle.bmp"
TBFrameMiddle BITMAP DISCARDABLE "buttondownmiddle.bmp"
TBDownArrow BITMAP DISCARDABLE "downarrow.bmp"
Z80Accel ACCELERATORS
BEGIN
  118,IDM_CALC_VARIABLES,VIRTKEY,NOINVERT
  67,IDM_EDIT_COPY,VIRTKEY,CONTROL,NOINVERT
  122,IDM_DEBUG_OPEN,VIRTKEY,NOINVERT
  8,IDM_FILE_GIF,VIRTKEY,NOINVERT
  121,IDM_FILE_OPEN,VIRTKEY,NOINVERT
END
DisasmAccel ACCELERATORS
BEGIN
  116,DB_RUN,VIRTKEY,NOINVERT
  118,DB_STEP,VIRTKEY,NOINVERT
  119,DB_STEPOVER,VIRTKEY,NOINVERT
  113,DB_BREAKPOINT,VIRTKEY,NOINVERT
END
IDD_GIFOPTIONS DIALOGEX 6,12,212,170
FONT 8,"Tahoma",400,0
STYLE 0x54000000
BEGIN
  CONTROL "Enable",IDC_CHKENABLEAUTOSAVE,"Button",0x50010023,16,16,34,9
  CONTROL "Use increasing numbers",IDC_CHKUSEINCREASING,"Button",0x58030003,102,31,92,9
  CONTROL "",IDC_EDTGIFFILENAME,"Edit",0x58010180,16,42,132,11,0x00000200
  CONTROL "Browse...",IDC_BTNGIFBROWSE,"Button",0x58010000,154,42,42,13
  CONTROL "",IDC_TRBGIFFPS,"msctls_trackbar32",0x50010001,26,92,72,17
  CONTROL "Autosave Path",IDC_STCAUTOSAVE,"Static",0x58000000,16,31,72,9
  CONTROL "Output framerate",IDC_STC2,"Static",0x50000000,16,81,98,11
  CONTROL "Autosave",IDC_GRPAUTOSAVE,"Button",0x10000007,6,3,202,59
  CONTROL "Animated GIF Options",IDC_GRP2,"Button",0x50000007,6,66,202,96
  CONTROL "9",IDC_STC3,"Static",0x50000002,16,96,8,9
  CONTROL "48",IDC_STCGIFMAX,"Static",0x50000000,98,96,10,9
  CONTROL "Colors",IDC_GRPCOLORS,"Button",0x50000007,122,81,74,44
  CONTROL "Screen palette",IDC_RBNSCREEN,"Button",0x50010009,128,92,62,13
  CONTROL "Grayscale",IDC_RBNGRAYSCALE,"Button",0x50010009,128,107,62,13
  CONTROL "Double size",IDC_CHKGIF2X,"Button",0x50010003,30,114,80,13
  CONTROL "The number of shades in the GIF will match the shades for the display recorded.",IDC_STC1,"Static",0x50000000,16,136,182,17
END
IDD_ROMOPTIONS DIALOGEX 6,5,216,144
CAPTION "IDD_DLG"
FONT 8,"Tahoma",400,0
STYLE 0x10000000
BEGIN
  CONTROL "Load New ROM",IDC_BTNROMBROWSE,"Button",0x50010000,12,90,68,13
  CONTROL "Current ROM Attributes",IDC_GRP3,"Button",0x10000007,6,18,202,89
  CONTROL "Filename:",IDC_STC9,"Static",0x50000000,12,31,36,9
  CONTROL "Version:",IDC_STC10,"Static",0x50000000,12,42,36,9
  CONTROL "Model:",IDC_STC11,"Static",0x50000000,12,53,36,9
  CONTROL "",IDC_EDTROMPATH,"Edit",0x50010800,50,31,114,9
  CONTROL "",IDC_STCROMIMAGE,"Static",0x5000000E,166,33,13,12
  CONTROL "",IDC_EDTROMVERSION,"Edit",0x50010800,50,42,114,9
  CONTROL "",IDC_EDTROMMODEL,"Edit",0x50010800,50,53,114,9
  CONTROL "Flash size:",IDC_STC12,"Static",0x50000000,12,64,36,9
  CONTROL "",IDC_EDTROMSIZE,"Edit",0x50010800,50,64,114,9
  CONTROL "Export ROM...",IDC_BTN1,"Button",0x50010000,150,127,56,13
  CONTROL "",IDC_STC7,"Static",0x50000010,12,83,188,2
END
IDD_OFN DIALOGEX 6,5,138,144
CAPTION "hook"
FONT 8,"Tahoma",400,0
STYLE 0x54000404
BEGIN
  CONTROL "",IDC_IMGPREVIEW,"Static",0x5000020E,4,12,124,67
  CONTROL "",IDC_EDTCOMMENT,"Edit",0x50010804,8,108,114,30
  CONTROL "",IDC_EDTAUTHOR,"Edit",0x50010800,8,92,114,9
  CONTROL "Preview",IDC_GRPPREVIEW,"Button",0x50000007,0,0,138,142
END
IDD_DLGGOTO DIALOGEX 6,6,160,17
CAPTION "Goto"
FONT 8,"MS Sans Serif",0,0
STYLE 0x90C00080
EXSTYLE 0x00000080
BEGIN
  CONTROL "Enter an address or label:",IDC_STC8,"Static",0x50000000,2,3,82,11
  CONTROL "",IDC_EDTGOTOADDR,"Edit",0x50000000,86,1,70,13,0x00000200
END
IDR_FRAME_MENU MENU
BEGIN
  POPUP "Frame Context Menu"
  BEGIN
    MENUITEM "Toggle button lock",IDM_FRAME_BTOGGLE
    MENUITEM "Unlock all buttons",IDM_FRAME_BUNLOCK
  END
END
IDD_SKINOPTIONS DIALOGEX 6,5,216,170
CAPTION "IDD_DLG"
FONT 8,"Tahoma",400,0
STYLE 0x54000000
BEGIN
  CONTROL "Skin Options",IDC_GRP4,"Button",0x50000007,14,3,180,65
  CONTROL "Use cutout skin",IDC_CHKCUTOUT,"Button",0x50010003,30,12,132,17
  CONTROL "Use custom Skin",IDC_CHKCSTMSKIN,"Button",0x50010003,30,31,66,9
  CONTROL "Custom Skin Options",IDC_GRP5,"Button",0x50000007,14,73,180,74
  CONTROL "Browse...",IDC_BROWSEKEY,"Button",0x58010000,136,129,54,13
  CONTROL "Browse...",IDC_BROWSESKIN,"Button",0x58010000,136,99,54,13
  CONTROL "",IDC_SKNFILE,"Edit",0x58010080,22,99,108,13,0x00000200
  CONTROL "",IDC_KEYFILE,"Edit",0x58010080,22,129,108,13,0x00000200
  CONTROL "#0",IDC_COLORPICK,"Static",0x5000030E,94,44,86,20
  CONTROL "Bitmap File",IDC_STC5,"Static",0x50000000,24,86,54,9
  CONTROL "Keymap File",IDC_STC6,"Static",0x50000000,26,116,54,9
  CONTROL "Faceplate Color",IDC_STC13,"Static",0x50000000,26,49,52,11
END
IDR_DISASM_HEADER_MENU MENU
BEGIN
  POPUP "Root"
  BEGIN
    MENUITEM "Addr",IDM_DISASMADDR,CHECKED,GRAYED
    MENUITEM "Data",IDM_DISASMDATA
    MENUITEM "Disassembly",IDM_DISASMDISASM
    MENUITEM "Size",IDM_DISASMSIZE
    MENUITEM "Clocks",IDM_DISASMCLOCKS
  END
END
IDD_VARLIST DIALOGEX 6,5,194,206
CAPTION "Calculator Variables"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_TRV1,"SysTreeView32",0x50010007,3,18,186,141,0x00000200
  CONTROL "Refresh",IDC_REFRESH_VAR_LIST,"Button",0x50010000,4,1,53,15
  CONTROL "Export",IDC_EXPORT_VAR,"Button",0x50010000,62,1,54,15
  CONTROL "",IDC_VAR_NAME,"Static",0x50000000,6,164,84,9
  CONTROL "In RAM:",IDC_STC31,"Static",0x50000002,98,179,32,9
  CONTROL "Address:",IDC_STC32,"Static",0x50000002,6,179,36,9
  CONTROL "Page:",IDC_STC33,"Static",0x50000002,6,192,36,9
  CONTROL "",IDC_VAR_ADDRESS,"Static",0x50000000,48,179,46,9
  CONTROL "",IDC_VAR_PAGE,"Static",0x50000000,48,192,46,9
  CONTROL "",IDC_VAR_RAM,"Static",0x50000000,136,179,46,9
END
IDR_VARTREE_MENU MENU
BEGIN
  POPUP "Var right click"
  BEGIN
    MENUITEM "Export...",IDM_VARTREEEXPORT
  END
END
IDR_DISASM_MENU MENU
BEGIN
  POPUP "Root"
  BEGIN
    MENUITEM "Toggle Breakpoint...",DB_BREAKPOINT
    MENUITEM "Toggle Write Watchpoint...",DB_MEMPOINT_WRITE
    MENUITEM "Toggle Read Watchpoint...",DB_MEMPOINT_READ
    MENUITEM SEPARATOR
    MENUITEM "Set PC to selection",IDM_DSETPC
    MENUITEM "Goto Address...",DB_DISASM_GOTO
  END
END
IDD_DLGSAVESTATE DIALOGEX 6,5,229,153
CAPTION "Savestate Information"
FONT 8,"Tahoma",400,0
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_EDTSAVEAUTHOR,"Edit",0x50010000,56,66,102,13,0x00000200
  CONTROL "",IDC_EDTSAVECOMMENT,"Edit",0x50010004,56,83,102,39,0x00000200
  CONTROL "",IDC_CBOSAVECOMPRESS,"ComboBox",0x50010003,56,125,46,9
  CONTROL "Read Only",IDC_CHKSAVEREADONLY,"Button",0x50010003,110,127,48,11
  CONTROL "OK",IDC_BTNSAVEOK,"Button",0x50010001,176,5,48,15
  CONTROL "Cancel",IDC_BTNSAVECANCEL,"Button",0x50010000,176,22,48,15
  CONTROL "Author:",IDC_STC14,"Static",0x50000000,14,68,34,9
  CONTROL "Comment:",IDC_STC15,"Static",0x50000000,14,83,34,9
  CONTROL "",IDC_IMGSAVEPREVIEW,"Static",0x5000120E,6,7,64,39
  CONTROL "Compress:",IDC_STC16,"Static",0x50000000,14,127,34,9
  CONTROL "Savestate Configuration",IDC_GRP6,"Button",0x50000007,6,51,162,96
  CONTROL "Model:",IDC_STC17,"Static",0x50000000,78,7,34,9
  CONTROL "ROM ver:",IDC_STC18,"Static",0x50000000,78,20,34,9
  CONTROL "Filesize:",IDC_STC19,"Static",0x50000000,78,33,34,9
  CONTROL "",IDC_EDTSAVEROMVER,"Edit",0x50000800,114,20,54,9
  CONTROL "",IDC_EDTSAVEMODEL,"Edit",0x50000800,114,7,56,9
END
IDD_DISPLAYOPTIONS DIALOGEX 6,5,216,166
CAPTION "Display"
FONT 8,"Segoe UI",400,0
STYLE 0x54000000
BEGIN
  CONTROL "",IDC_CBODISPLAYMODE,"ComboBox",0x50010003,8,105,62,13
  CONTROL "",IDC_TRBDISPLAYSHADES,"msctls_trackbar32",0x50000101,122,107,74,20
  CONTROL "2",IDC_STC4,"Static",0x50000002,114,110,8,9
  CONTROL "12",IDC_STC22,"Static",0x50000000,196,110,12,9
  CONTROL "Shades && Frequency",IDC_GRP7,"Button",0x50000007,80,94,130,65
  CONTROL "",IDC_IMGDISPLAYPREVIEW,"Static",0x5000020E,4,7,128,81,0x00000200
  CONTROL "Mode",IDC_GRP8,"Button",0x50000007,4,94,70,33
  CONTROL "",IDC_TRBDISPLAYFPS,"msctls_trackbar32",0x50000000,142,62,66,20
  CONTROL "Preview Settings",IDC_GRP9,"Button",0x50000007,138,3,72,85
  CONTROL "FPS",IDC_STCDISPLAYOPTION,"Static",0x50000000,148,53,34,9
  CONTROL "Source",IDC_STC21,"Static",0x50000000,146,18,42,9
  CONTROL "",IDC_CBODISPLAYSOURCE,"ComboBox",0x50010003,146,27,58,13
  CONTROL "Shades",IDC_STC23,"Static",0x50000000,86,110,28,11
  CONTROL "Freq.",IDC_STC24,"Static",0x50000000,86,136,28,11
  CONTROL "",IDC_TRBDISPLAYFREQ,"msctls_trackbar32",0x50000100,122,132,74,20
  CONTROL "30",IDC_STC25,"Static",0x50000002,114,136,8,9
  CONTROL "120",IDC_STC26,"Static",0x50000000,196,136,12,9
END
IDD_DLGTARGETMEM DIALOGEX 6,6,140,28
CAPTION "IDD_DLG"
FONT 8,"Tahoma",400,0
STYLE 0x54000404
BEGIN
  CONTROL "File settings",IDC_RBNFILESETTINGS,"Button",0x50010009,82,11,50,11
  CONTROL "Archive",IDC_RBNFILEARCHIVE,"Button",0x50010009,38,11,38,11
  CONTROL "RAM",IDC_RBNFILERAM,"Button",0x50010009,4,11,30,11
  CONTROL "Target Memory",IDC_GRP1,"Button",0x50000007,0,0,138,26
END
IDR_MAIN_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "Open...\tF10",IDM_FILE_OPEN
    MENUITEM "Save State...",IDM_FILE_SAVE
    MENUITEM SEPARATOR
    MENUITEM "Record GIF\tBackspace",IDM_FILE_GIF
    MENUITEM SEPARATOR
    MENUITEM "Close\tCtrl+W",IDM_FILE_CLOSE
    MENUITEM "Exit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_EDIT_PASTE,GRAYED
  END
  POPUP "&Calculator"
  BEGIN
    MENUITEM "Enable Skin",IDM_CALC_SKIN
    MENUITEM "Enable Sound",IDM_CALC_SOUND
    MENUITEM SEPARATOR
    MENUITEM "Pause Emulation",IDM_CALC_PAUSE
    POPUP "Speed"
    BEGIN
      MENUITEM "Set Speed...",IDM_SPEED_SET
      MENUITEM SEPARATOR
      MENUITEM "25%",IDM_SPEED_QUARTER
      MENUITEM "50%",IDM_SPEED_HALF
      MENUITEM "100%",IDM_SPEED_NORMAL
      MENUITEM "200%",IDM_SPEED_DOUBLE
      MENUITEM "400%",IDM_SPEED_QUADRUPLE
      MENUITEM "Max Speed",IDM_SPEED_MAX
    END
    MENUITEM SEPARATOR
    MENUITEM "Connect To...",IDM_CALC_CONNECT
    MENUITEM SEPARATOR
    MENUITEM "Variables...",IDM_CALC_VARIABLES
    MENUITEM "Options...",IDM_CALC_OPTIONS
  END
  POPUP "&Debug"
  BEGIN
    MENUITEM "Reset",IDM_DEBUG_RESET
    MENUITEM "Open Debugger...\tF11",IDM_DEBUG_OPEN
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "Website",IDM_HELP_WEBSITE
    MENUITEM "About",IDM_HELP_ABOUT
  END
END
IDR_REGPANE_MENU MENU
BEGIN
  POPUP "Root"
  BEGIN
    MENUITEM "Edit Value",IDM_REGPANE_EDIT
    MENUITEM "View Address in Disassembly",IDM_REGPANE_VIEW_DISASM
    MENUITEM "View Address in Memory",IDM_REGPANE_VIEW_MEM
  END
END
IDD_DLGABOUT DIALOGEX 6,6,134,79
CAPTION "About"
FONT 8,"MS Sans Serif",0,0
STYLE 0x90C00000
BEGIN
  CONTROL "Wabbitemu",IDC_STC20,"Static",0x50000000,52,12,68,9
  CONTROL "Revolution Software",IDC_STC27,"Static",0x50000000,52,35,68,9
  CONTROL "#0",IDC_IMG1,"Static",0x50000203,12,14,30,28
  CONTROL "OK",IDC_BTN2,"Button",0x50010000,42,60,54,13
  CONTROL "Version 1.5",IDC_STC28,"Static",0x50000000,52,24,68,9
END
IDD_DLGSPEED DIALOGEX 6,5,146,68
CAPTION "Set Speed"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_TRB1,"msctls_trackbar32",0x50000901,14,11,114,21
  CONTROL "OK",IDC_OK,"Button",0x50010000,16,51,54,15
  CONTROL "Cancel",IDC_CANCEL,"Button",0x50010000,74,51,54,15
  CONTROL "1600%",IDC_STC29,"Static",0x50000201,104,36,24,9
  CONTROL "5%",IDC_STC30,"Static",0x50000201,14,36,22,9
END
IDR_DISASM_WATCH_MENU MENU
BEGIN
  POPUP "Root"
  BEGIN
    MENUITEM "Break On Write",DB_MEMPOINT_WRITE
    MENUITEM "Break On Read",DB_MEMPOINT_READ
  END
END
IDR_DISASM_REWIND_MENU MENU
BEGIN
  POPUP "Root"
  BEGIN
    MENUITEM "0.5 Seconds",IDM_05SECOND
    MENUITEM "1.0 Second",IDM_10SECOND
    MENUITEM "1.5 Seconds",IDM_15SECOND
    MENUITEM "2.0 Seconds",IDM_20SECOND
    MENUITEM "2.5 Seconds",IDM_25SECOND
    MENUITEM "3.0 Seconds",IDM_30SECOND
    MENUITEM "3.5 Seconds",IDM_35SECOND
    MENUITEM "4.0 Seconds",IDM_40SECOND
    MENUITEM "4.5 Seconds",IDM_45SECOND
    MENUITEM "5.0 Seconds",IDM_50SECOND
  END
END
